 /* --- STYLE DES PORTES COULISSANTES --- */
#main-doors {
     position: fixed;
     top: 0;
     left: 0;
     width: 100vw;
     height: 100vh;
     display: flex;
     z-index: 10000;
     transition: visibility 1.2s;
     overflow: hidden;
 }

 .door {
    width: 50%;
    height: 100%;
    background: rgba(8, 8, 8, 0.8); 
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(15px);
    
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 1.2s cubic-bezier(0.7, 0, 0.3, 1);
    position: relative;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.05);
    
    /* On enlève toute bordure par défaut ici */
    border: none;
}

/* --- BORDURES SPÉCIFIQUES POUR LA JOINTURE CENTRALE --- */

.door-left {
    border-right: 10px solid;
    border-image: linear-gradient(
        to bottom, 
        #222 0%, 
        #8f8e8e 20%, 
        #ffffff 45%, 
        #8f8e8e 55%, 
        #222 100%
    ) 1;

    /* EFFET ARRONDY ET PROFONDEUR ACCENTUÉE */
    /* 1. L'ombre inset large (15px) crée la courbure */
    /* 2. L'ombre très noire (0.9) sur le bord droit marque la séparation */
    box-shadow: 
        inset -8px 0 15px rgba(0, 0, 0, 0.9), 
        inset -2px 0 4px rgba(255, 255, 255, 0.2),
        1px 0 0px #000;
        
    margin-right: 0.5px;
    position: relative;
}

.door-right {
    border-left: 10px solid;
    border-image: linear-gradient(
        to bottom, 
        #222 0%, 
        #8f8e8e 20%, 
        #ffffff 45%, 
        #8f8e8e 55%, 
        #222 100%
    ) 1;

    /* EFFET ARRONDY ET PROFONDEUR ACCENTUÉE */
    box-shadow: 
        inset 8px 0 15px rgba(0, 0, 0, 0.9), 
        inset 2px 0 4px rgba(255, 255, 255, 0.2),
        -1px 0 0px #000;
        
    margin-left: 0.5px;
}

/* Animation d'ouverture */
 .doors-open .door-left {
     transform: translateX(-100%);
 }

 .doors-open .door-right {
     transform: translateX(100%);
 }

 .doors-open {
     visibility: hidden;
 }

 /* Bouton Enter Style McIntosh */
 #enter-btn {
     padding: 20px 40px;
     background: transparent;
     border: 2px solid #00c3ff;
     border-radius: 5px;
     color: #00c3ff;
     font-family: "Roboto", sans-serif;
     text-transform: uppercase;
     letter-spacing: 5px;
     font-weight: bold;
     cursor: pointer;
     transition: all 0.4s ease;
     box-shadow: 0 0 15px rgba(0, 255, 102, 0.1);
 }

 #enter-btn:hover {
     background: #00c3ff;
     color: #000;
     box-shadow: 0 0 30px rgba(9, 112, 126, 0.781);
 }

 /* Logo sur la porte gauche */
 .door-logo {
     width: 200px;
     filter: grayscale(1) brightness(0.8);
     opacity: 0.5;
 }