@import url('https://fonts.googleapis.com/css2?family=Bitcount+Single:wght@300&family=Roboto:wght@300;400&display=swap');
@import url('css/root.css');
@import url('css/chassis.css');
@import url('css/meters.css');
@import url('css/display.css');
@import url('css/controls.css');
@import url('css/states.css');
@import url('css/modals.css');
@import url('css/eq.css');
@import url('css/mobile.css');
@import url('css/info.css');
@import url('css/door.css');
@import url('css/overlay.css');

body {
    background-color: var(--background-color-app);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: roboto, sans-serif;
    overflow: hidden;
}

#audio-upload {
    display: none;
}

#logo-alt {
    display: none;
}

#folder-input {
    display: none;
}