<div id="info-overlay-fix" onclick="this.style.display='none'">

    <div class="options-logo-container">
        <img src="assets/img/logo_b.png" alt="Logo McIntosh"
            class="options-logo">
    </div>
    <span class="reference">Reference Digital Audio Player</span>

    <div class="release-version"></div>

    <a href="https://github.com/HDSoundSystem/McIntosh-DAP"
        target="_blank"
        rel="noopener noreferrer"
        class="github-link">
        GITHUB
    </a>
    <a href="https://github.com/HDSoundSystem/McIntosh-DAP/blob/main/README.md"
        target="_blank"
        rel="noopener noreferrer"
        class="github-link">
        ABOUT
    </a>
    <a href="https://www.mcintoshlabs.com/"
        target="_blank"
        rel="noopener noreferrer"
        class="github-link">
        THANKS TO MCINTOSH
    </a>
</div>